name: Code Review

on:
  pull_request_target:
    branches:
      - main  # 你可以根据需要更改分支名称

jobs:
  code-review:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        ref:  ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0  # 获取完整的提交历史

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install openai

    - name: Get Pull Request Diff
      id: get-diff
      run: |
        git diff ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} > diff.txt
        cat diff.txt
        echo "::set-output name=changed_files::$(cat changed_files.txt)"
        echo "::set-output name=diff::$(tr '\n' ',' < diff.txt)"
      shell: bash

    - name: Run Code Review
      id: code-review
      env:
        OPENAI_API_KEY: sk-30d2228c30b840d2a33178ea04fb246f
      run: |
        import openai
        import os
        import shlex
        client = openai.OpenAI(api_key=os.getenv('OPENAI_API_KEY'), base_url='https://api.deepseek.com')

        diff = '${{ steps.get-diff.outputs.diff }}'
        change_file= '${{ steps.get-diff.outputs.changed_files }}'
        print(diff+change_file)
        review_comment = client.chat.completions.create(
            model='deepseek-chat',
            messages=[
                {'role': 'system', 'content': 'You are a helpful code review assistant'},
                {'role': 'user', 'content': f'Review the following code changes:\n{diff+change_file}'},
            ],
            stream=False
        ).choices[0].message.content
        print(review_comment)
        review_comment=review_comment.replace("\n",",")
        output_file = 'review_comment.txt'
        with open(output_file, 'w') as f:
            f.write(f'{review_comment}\n')

      shell: python
      
    - name: Checkout
      uses: actions/checkout@v3

    - name: Comment PR
      uses: thollander/actions-comment-pull-request@v3
      with:
        file_path: review_comment.txt
